.MenuContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100vw;
  height: 6vh;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.MenuContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding-left: 1em;
  padding-right: 1em;
}

.MenuIcon {
  font-size: 1.3rem;
  margin: 0.2em;
}

.TitleAndLogo {
  display: flex;
  align-items: center;
}

.Logo {
  max-height: 1.1em;
  margin-left: 0.5em;
}

.SideBarButton {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}