.MenuContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100vw;
  height: 6vh;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.MenuContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding-left: 1em;
  padding-right: 1em;
}

.MenuIcon {
  font-size: 1.3rem;
  margin: 0.2em;
  color: #09242F;
}

.WhiteIcon {
  font-size: 1.5rem;
  margin: 0.7em;
  color: white;

}

.TitleAndLogo {
  display: flex;
  align-items: center;
}

.Logo {
  max-height: 1.1em;
  margin-left: 0.5em;
}

.SideBarButton {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5vw;
  height: 100vh;
  background-color: #09242F;
  z-index: 999; 
}

.SidebarOpen {
  transform: translateX(0); /* Mostra a sidebar */
}

.CloseSidebar {
  transform: translateX(-100%); /* Esconde a sidebar */
  cursor: pointer;
  background-color: #09242F;
  border: 1px solid red;
}

.TableButton {
  width: 5vw;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

.TableIcon {
  font-size: 1.4rem;
  margin-top: 2em;
  color: white;
}