.MenuContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100vw;
  height: 6vh;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.MenuContent {
  color: var(--color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
}