:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #09242F;
  background-color: #F5F6FA;
  --light-grey: #D9D9D9; /* para fundos e elementos neutros */
  --dark-grey: #4C4C4C; /* para texto */
  --blue: #007BFF; /* para botões e destaques */
  --red: #FF3B30; /* para ícones ou alertas */
}
